/* Чим ми займаємося */
.activities {
    &-section--indent {
        padding-top: 0;
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: var(--primary-txt-cl);

        &--indent {
            margin-bottom: 50px;
        }
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__subtitle {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--white-txt-cl);
        background-color: var(--activities-bg-cl);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        height: 70px;
        position: absolute;
        bottom: 0;
    }
}
