/* footer contacts */
.footer-contacts {
    font-style: normal;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &-wrap--indent {
        margin-right: 70px;
        flex-grow: 1;
    }

    &__link {
        text-decoration: none;
        line-height: 1.71;
        color: var(--footer-txt-cl);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &--address {
            color: var(--white-txt-cl);
        }

        &:hover,
        &:focus {
            color: var(--accent-cl);
        }
    }

}