/* header logo */
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--accent-cl);
}

.logo__header {
    color: var(--black-txt-cl);
}

.logo--header-indent {
    margin-right: 93px;
}

/* footer logo */
.logo--footer-indent {
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
}

.logo__footer {
    color: var(--white-txt-cl);
}